body{
    height:100%;
    width: 100%;
    background-color: rgba(87, 87, 87, 0.603);
    /* overflow: hidden; */
    margin: auto;
    position:relative;
}
.container{
    width: 100%;
    margin: auto;
}
.slider .image:not(:first-child){
    display:none;
}
.slider .image:first-child{
    background: url("./assets/images/BGs/Arches.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(2){
    background: url("./assets/images/BGs/CaliforniaCoast.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(3){
    background: url("./assets/images/BGs/Denali.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(4){
    background: url("./assets/images/BGs/GrandCanyon.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(5){
    background: url("./assets/images/BGs/GreatSmokyMountains.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(6){
    background: url("./assets/images/BGs/Rockies.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(7){
    background: url("./assets/images/BGs/PurpleMountains.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(8){
    background: url("./assets/images/BGs/VolcanoesNationalPark.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(9){
    background: url("./assets/images/BGs/Yellowstone.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(10){
    background: url("./assets/images/BGs/Yosemite.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.game-container{
    height: 95vh;
    width: 95vw;
    background-color: coral;
    margin: auto;
    position: absolute;
    top: 1.5vh;
    left: 2.5vw;
    /* display:flex; */
    display:none;
    flex-wrap: wrap;
}
header{
    display:none;
    width: 100vw;
    height: 10%;
    background-color: aquamarine;
}
.stats-container{
    height: 90%;
    width: 20%;
    background-color: forestgreen;
}
.card-area{
    height: 90%;
    width: 80%;
    background-color: slategray;
}