body{
    font-size: 1.75rem;
}
.game-container{
    padding-top:.75%;
}
.text-small{
    font-size: 1rem;
}
.image-caption{
    font-size: 1rem;
}
.initial-instructions-text{
    font-size: 1.6rem;
}
.initial-info-box{
    padding-top: 13%;
    font-size: 1.6rem;
}
.info-box{
    padding-left: 3%;
    padding-top: 3%;
}
.info-div-text-container{
    padding: 0%;
}
.card-container{
    height: 150px;
    width: 150px;
}
.modal-text{
    font-size: 1.5rem;
}
.header-text{
    font-size: 3rem;
}
.modal-button{
    height: 22.5%;
    width: 12%;
    font-size: 1rem;
}