html{
    background-color: orange;
    display:flex;
    justify-content: space-around;
    align-content: center;
}
body{
    color: white;
    height:100vh;
    width: 100vw;
    max-width: 1400px;
    max-height: 817px;
    /* max-width: 100%;
    max-height: 100%; */
    /* background-color: rgba(87, 87, 87, 0.788); */
    overflow: hidden;
    position:relative;
    padding: 5px;
    font-size: 1rem;
    background: url("./assets/images/BGs/VolcanoesNationalPark.jpg") no-repeat center center;
    margin: auto;
    padding: 0;
    font-family: 'Oxygen', sans-serif;

}
.game-container{
    height: 93%;
    width: 98%;
    /* background-color: rgba(255, 127, 80, 0.788); */
    display:flex;
    flex-wrap: wrap;
    margin: auto;
} 
header{
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: rgba(127, 255, 212, 0.438);
    margin-top: .75%;
    margin-bottom: .8%;
    padding-bottom: .7%;
    align-content: center;
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-text{
    margin:0;
    font-size: 2rem;

}
.stats-container{
    height: 10%;
    width: 100%;
    /* background-color: rgba(34, 139, 34, 0.801); */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1%;
    /* align-items: center; */
}
.stats-bubble{
   background-color: rgba(255, 255, 255, 0.356);
   width: 33%;
   /* text-align: center; */
   /* padding: 8px; */
   position: relative;
   white-space: nowrap;
   /* overflow: hidden; */
}
.stats-text{
    margin: auto;
    position: absolute;
    top:50%;
    left:  50%;
    transform: translate(-50%, -50%);
}
.info-container{
    width: 33%;
    height: 80%;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
}
.image-square{
    height: 0;
    width: 100%;
    position: relative;
    margin-bottom: 2.5%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100%;
    background-color: rgba(255, 255, 255, 0.356);
}
/* .image-square:after{
    content: "";
    display:block;
    padding-bottom: 100%;
    background-color: rgba(255, 255, 255, 0.356);
    border-radius: 18px;
    margin-bottom: 2.5%;
} */
.image-caption{
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: .75rem;
}
.info-div{
    background-color: rgba(255, 255, 255, 0.356);
    flex: 1 1 auto;
    margin-bottom: 0;
    overflow: scroll;
}
.info-div-text-container{
    padding:5%;
    display:flex;
    justify-content: space-around;
    height:100%;
}
.info-box{
    text-align: left;
}
.card-area{
    height: 80%;
    width: 66.3%;
    background-color: rgba(255, 255, 255, 0.356);
    margin-left: .7%;
    display: flex;
    flex-direction: column;
}
.card-row{
    width:100%;
    height: 33.3%;
    /* background-color: aliceblue; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.card-container{
    /* background-color: transparent; */
    position: relative;
    height: 72px;
    width: 72px;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: auto;
    /* position: relative; */
    perspective: 1000px;
    
}
.card-container-inner{
    position: relative;
    height: 72px;
    width: 72px;
    /* text-align: center; */
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card{
    position: absolute;
    top: 0;
    left:  0;
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
}
.card-face{
    /* background-color: #bbb; */
    /* background: url('assets/images/CardImages/Arches1.png'); */
    /* display: none; */
    /* background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* transform: translate(-50%, -50%); */
    /* position: absolute;
    width: 100%;
    height: 100%; */
    transform: rotateY(180deg);
    /* backface-visibility: hidden; */
}
.card-back{
    /* background-color: #bbbbbb; */
    /* transform: translate(-50%, -50%); */
    /* position: absolute; */
    /* width: 100%;
    height: 100%; */
    /* transform: rotateY(180deg); */
    /* backface-visibility: hidden; */
}
.is-flipped{
    transform: rotateY(180deg);
}

.rounded-corners{
    border-radius: 10px;
}
.text-small{
    font-size: .75rem;
}
.hidden{
    display: none;
}


.modal{
    position: absolute;
    bottom: 0;
    left:0;
    height:15%;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.26);
    color: black;
    text-shadow:
        -1px -1px 0 rgb(255, 255, 255),  
        1px -1px 0 rgb(255, 255, 255),
        -1px 1px 0 rgb(255, 255, 255),
        1px 1px 0 rgb(255, 255, 255);
    z-index: 2;
}
.modal-body{
    position:relative;
}
.modal-text{
    /* position:absolute; */
    /* top: 2%; */
    margin:auto;
    padding:5px;
    font-size: 1rem;
    text-align: center;
}
.modal-button{
    position: absolute;
    bottom:0;
    right:0;
    border: 1px rgb(187, 0, 0) solid;
    margin-right: 5px;
}

/*image slider css code*/
/* .container{
    width: 100%;
    margin: auto;
}
.slider .image:not(:first-child){
    display:none;
}
.slider .image:first-child{
    background: url("./assets/images/BGs/Arches.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(2){
    background: url("./assets/images/BGs/CaliforniaCoast.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(3){
    background: url("./assets/images/BGs/Denali.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(4){
    background: url("./assets/images/BGs/GrandCanyon.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(5){
    background: url("./assets/images/BGs/GreatSmokyMountains.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(6){
    background: url("./assets/images/BGs/Rockies.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(7){
    background: url("./assets/images/BGs/PurpleMountains.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(8){
    background: url("./assets/images/BGs/VolcanoesNationalPark.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(9){
    background: url("./assets/images/BGs/Yellowstone.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
.slider .image:nth-child(10){
    background: url("./assets/images/BGs/Yosemite.jpg") no-repeat center center;
    background-size:cover;
    height: 375px;
}
*/