html{
    background-color: rgb(26, 114, 196);
}
body{
    font-size: 2.75rem;
    position: absolute;
    top:0;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
}
.game-container{
    padding-top:0;
}
.text-small{
    font-size: 2rem;
}
.initial-instructions-text{
    font-size: 2.5rem;
    padding-top: 6%;
}
.image-caption{
    font-size: 1.75rem;
    text-align: right;
}
.info-div::-webkit-scrollbar{ 
    width: 0 !important;
}
.info-div{ 
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
}
.initial-info-box{
    padding-top: 7%;
    font-size: 2rem;
}
.info-box{
    padding-left: 3%;
    padding-top: 3%;
}
.info-div-text-container{
    padding: 0%;
}
.card-container{
    height: 200px;
    width: 200px;
}
.modal-text{
    font-size: 2rem;
}
.final-match-info{
    overflow: -moz-scrollbars-none; 
    -ms-overflow-style: none;
}
.final-match-info::-webkit-scrollbar{ 
    width: 0 !important;
}
.final-match-caption{
    font-size: 1.75rem;
}
.header-text{
    font-size: 3.75rem;
}
.modal-button{
    height: 22.5%;
    width: 12%;
    font-size: 1.5rem;
}